.vscode/settings.json
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Jupyter Notebook
.ipynb_checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Environment & Secrets
.env
.python-version

# IDE
.vscode/
.idea/

# Data (чтобы не пушить тяжелые файлы)
*.csv
*.json
*.parquet
